{% extends 'layout.html' %}

{% block mainContent %}
<div class="container">

    <div class="row">
        <div class="col">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>{{ thetopic_results['topic_name'] }}</h2>
            <p><a href="/videoform">Submit a video</a></p>
            <hr>
            {% for row in video_results %}
            <iframe  src="//www.youtube.com/embed/{{row['url']}}" frameborder="0" allowfullscreen></iframe>
            <p>{{row['video_description']}}</p>
            <hr>

            {% endfor %}


        </div>
    </div>

</div>
{% endblock %}